<div id="following" class="following">
  <div class="row">
    <% following.each do |user| %>
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="http://materializecss.com/images/office.jpg">
            </div>
            <%= gravatar_image_tag current_user.email, class: "circle avatar float-avatar" %>
            <div class="card-content">

              <a href="#" class="btn right btn-small">following</a>
              <span class="card-title card-full-name"><%= user.full_name %></span>
              <span class="card-title card-username">@<%= user.username %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>