<div id="following" class="following">
  <div class="row">
    <% following.each do |user| %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="http://materializecss.com/images/office.jpg">
              <span class="card-title"><%= user.full_name %></span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>