<div class="container">
  <ul>
    <% if @tweets %>
      <% @tweets.each do |tweet| %>
          <li><%= tweet.description %></li>
      <% end %>
    <% else %>
      <h2>Nenhum registro localizado</h2>
    <% end %>
  </ul>
</div>