body {
  background-color: $background;
  font-family: $base_font;
  // color: $dark_grey;
}

a {
  color: $blue_light;
}

.logo-circle {
  width: 11.385rem;
  margin: 0 auto;
  display: block;
}

.logo {
  width: 30px;
}

.material-icons {
  color: $blue_light;
}

.btn-floating {
  background-color: $blue_light;
}