
.card-user{
    margin-top: 19px;
    background-color: $background;
    box-shadow: none;  
}

.card .card-content p {
    color: $dark_blue;  
}

.card-content .profile-pic{
    z-index: 1;
    position: relative;
    height: 120px;
    width: 120px;
}

.profile-pic {
    border: 2px solid $white;
  }

.profile-name {
    font-size: 1.75rem;
    font-weight: 700;
}