.card .tweets-card-content {
  padding: 10px 2px;
}

.card .tweets-card-content .collection {
  border-left: none;
  border-right: none;
}

.tweets-card-content .card-action {
  border-top: none;
}

.tweets-card-content {

  .item-tweet {
    margin-left: 40px;
    margin-bottom: 20px;

    .username {
      margin-left: 30px;
      color: rgba(0, 0, 0, 0.7);
    }

    .circle {
      position: absolute;
      left: 55px !important;
    }

    p {
      width: 95%;
    }

    .count-likes {
      width: 24px;
      height: 24px;
      display: block;
    }
  }
}