.card .tweets-card-content {
    padding: 10px 2px;
}

.card .tweets-card-content .collection {
    border-left: none;
    border-right: none;
}

.tweets-card-content .card-action {
    border-top: none;
}