.main-nav {
  background-color: $blue_light;
  
}

.side-nav {
  background-color: $blue_light;
  padding-top: 1rem;
}

.side-nav li > a {
  color: $white;
}

.avatar-nav {
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border: 2px solid $white;
}

nav ul a.dropdown-button:hover {
  background-color: transparent !important;
}

.dropdown-content {
  background-color: $white;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $blue_light;
}

#search {
  background-color: $white;
  color: $dark_grey;
  width: 130px;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-right: 10px;
}

#search:focus {
  width: 100%;
}

nav .material-icons {
  color: $white;
}

.home-link .material-icons {
  margin: 0;
}