.main-nav {
  background-color: $blue_light;
  
}

.side-nav {
  background-color: $blue_light;
}

.side-nav li > a {
  color: $white;
}

.avatar-nav {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid $white;
  margin: 15px 0 0 0;
}

nav ul a.dropdown-button:hover {
  background-color: transparent !important;
}

.dropdown-content {
  background-color: $white;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $blue_light;
  line-height: 20px;
}
