// Colors
$white: #FFFBF5;
$blue_light: #80A8CC;
$blue_btn: #6C94B8; 
$dark_blue: #375169;

$dark_grey: #6E7A83;
$background: #F2EEE8; // For body background


// Fonts
$base_font: 'Roboto', sans-serif;